/* Will be compiled down to a single stylesheet with your sass files */

ul li{
	list-style:none;
}

.background{
	width: 1000px;
	height: 329px;
	background-image: url("/images_and_psds/white-kitchen-tile.png");
	background-size: 100%;
	background-position: center;
}
/*.bg_text{
	font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
	font-size: 80px;
	line-height: 1;
	background-color: white;
	font-style: normal;
	font-variant: normal;
	position: absolute;
	margin: 20px;
	padding: 20px;
	height: 100px;
	width: 506px;
}
*/
.bg_text{
	font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
	font-size: 80px;
	line-height: 1;
	font-style: normal;
	font-variant: normal;
	background-color: white;
	background: -webkit-radial-gradient(rgba(255,255,255,1),rgba(255,255,255,0));
  	background: -o-radial-gradient(rgba(255,255,255,1),rgba(255,255,255,0));
  	background: -moz-radial-gradient(rgba(255,255,255,1),rgba(255,255,255,0));
  	background: radial-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
	position: absolute;
	border-radius: 27px;
	margin: 20px;
	padding: 20px;
	height: 100px;
	width: 506px;
}